<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648"/>
			</requestFiltering>
		</security>
		<aspNetCore processPath=".\ResumableFileTransfer.API.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
		 <!--<environmentVariables>
			<environmentVariable name="ConfigStorageConnectionString" value="UseDevelopmentStorage=true" />
		 </environmentVariables>-->
	  </aspNetCore>
    </system.webServer>
</configuration>